body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.redsquare{
border-radius: 10px black;
background-color: crimson;
transition: all 0s ease-in-out;
width: 150px;
height: 150px;
position: absolute;
left: 600px;
top: 100px;
}
.start.restart{
width: 200px;
height: 20px;
position: absolute;


}
.redsquare:hover{
    background-color:white;

}